/*
    Created on : 29/09/2015, 10:42:33
    Author     : gilmario
*/
body{
    margin: 0px;
    padding: 0px;
}

#login{

}
#controle{

}

.esquerda{
    float: left;

}
.direita{
    float: right;

}
